.infoBox {
  box-sizing: border-box !important;
  border: 1px solid #ddd;
  width: 33.33%;
  box-shadow: 0 0 10px -4px #999!important;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(10, 79, 182, 0.541) !important;
  /* background: transparent !important; */
  /* opacity: 0.75; */
}
.infoBox:hover {
  background: rgb(13, 74, 243) !important; 
  box-shadow: 0 0 12px -4px #000!important;
  /* color: #fff!important; */
}

.infoBox:hover .infoBox__title,
.infoBox:hover .infoBox__total,
.infoBox:hover .infoBox__cases{
  color: #fff !important;
}

.infoBox:nth-child(even){
  margin: 0 3px;
}
.MuiPaper-rounded{
  border-top-left-radius: none!important;
}
.infoBox__title,
.infoBox__cases,
.infoBox__total {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  /* color: var(--charlestonGreen)!important; */
  /* color: #fff!important; */
}

.MuiCardContent-root h2 {
  padding: 0 !important;
}

.infoBox__total,
.infoBox__title {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}

.border__red {
  border: 3px solid #f32c2c !important;
}
.border__green {
  border: 3px solid rgb(61, 235, 191) !important;
}
.border__blue {
  border: 3px solid rgb(13, 47, 241) !important;
}
.red {
  font-size: 1rem;
  color: red;
  text-align: center;
  background: white;
  border-radius: 5px;
  /* padding: -4px; */
}

.blue {
  font-size: 1rem;
  color: #3ea0fc;
  text-align: center;
  background: white;
  border-radius: 5px;
  /* padding: -4px; */
}

.green {
  font-size: 1rem;
  color: rgb(0, 218, 163);
  text-align: center;
  background: white;
  border-radius: 5px;
  /* padding: -4px; */
}

@media (max-width: 768px) {
  
}
