/* .multiLang__container{
  width: 100%;
  margin: 0 auto;
} */
.lang {
  /* border: 1px solid blue; */
  border-radius: 5px;
  padding: 5px;
  /* background: var(--lavenderWeb); */
}
.language__container {
  padding: 15px 25px;
  border-radius: 5px;
  /* box-shadow: 0 0 15px -4px #000; */
  color: var(--lavenderWeb);
  font-size: 0.9rem;
  border-top-left-radius: 0 !important;
  z-index: 999;
  background: var(--charlestonGreen);
  font-weight: 300!important;
  
}
.language__chooser {
  /* box-shadow: 0 1px 15px -4px #000 !important; */
  z-index: 0 !important;
}

.btn {
  padding: 10px !important;
  font-size: 0.75rem !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 0 !important;
  border: 1px solid var(--charcoal)!important;
  z-index: 0 !important;
  font-weight: bold!important;
  /* flex: 1; */
}
.btn__english {
  border-top-left-radius: 5px !important;
}
.btn__arabic {
  border-top-right-radius: 5px !important;
}
