.lang {
  border-radius: 5px;
  padding: 5px;
}
.language__container {
  padding: 15px 25px;
  border-radius: 5px;
  color: #222;
  font-size: 0.9rem;
  border-top-left-radius: 0 !important;
  z-index: 999;
  box-shadow: 0 0 7px -4px #333;
  font-weight: 400!important;
  text-transform: lowercase;
  background: #F0F2F3;
}
.language__chooser {
  z-index: 0 !important;
}

.btn {
  padding: 5px !important;
  font-size: 0.7rem !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 0 !important;
  z-index: 0 !important;
  font-weight: bold!important;
  box-shadow: 0 0 2px -2px #333!important;
}
.btn__english {
  border-top-left-radius: 5px !important;
}
.btn__arabic {
  border-top-right-radius: 5px !important;
}
