.app__about__data{
    color: #ccc;
    padding: 40px 12.5%;
    /* margin-bottom: 2px; */
    background: #20232a;
    box-shadow: 0 0 15px -4px #999;
}

.about__link{
    text-decoration: none;
    color: #61dafb;
}
.about__link:hover{
    color: rgb(230, 18, 10);
}