.infoBox {
  box-sizing: border-box !important;
  border-radius: 5px;
  background-color: #20232a !important;
  border: 3px solid transparent;
  width: 10rem;
}
.infoBox:hover {
  background: rgba(4, 15, 46, 0.6) !important;
}

.infoBox:not(:last-child) {
  margin-bottom: 5px;
}
.infoBox:last-child{
  margin-top: -3px;
}
.infoBox:nth-child(even){
  margin: 3px;
  margin-top: 0;
}
.infoBox__title,
.infoBox__cases,
.infoBox__total {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #61dafb !important;
}

.MuiCardContent-root h2 {
  padding: 0 !important;
}

.infoBox__total,
.infoBox__title {
  font-size: 0.75rem !important;
  text-shadow: 0 0 10px 5px rgba(0, 0, 0, 1) !important;
  font-weight: 400 !important;
}

.border__red {
  border: 3px solid #f32c2c !important;
}
.border__green {
  border: 3px solid rgb(61, 235, 191) !important;
}
.border__blue {
  border: 3px solid rgb(13, 47, 241) !important;
}
.red {
  font-size: 1rem;
  color: red;
  text-align: center;
  background: white;
  border-radius: 5px;
  /* padding: -4px; */
}

.blue {
  font-size: 1rem;
  color: #3ea0fc;
  text-align: center;
  background: white;
  border-radius: 5px;
  /* padding: -4px; */
}

.green {
  font-size: 1rem;
  color: rgb(0, 218, 163);
  text-align: center;
  background: white;
  border-radius: 5px;
  /* padding: -4px; */
}

@media (max-width: 700px) {
  .infoBox:last-child{
    width: 180px;
  }
}
