/* .share__buttons {
  box-sizing: border-box;
} */

.share__buttons img {
  height: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  box-shadow: 0 0 12px -4px #777;
  background: #0000;
  border-radius: 50%;
   box-sizing: border-box;
   margin: 0 5px;
   transition: all 0.2s ease-in-out;
}
.share__buttons img:hover{
    padding: 7px;
}
