.lineGraphButton{
  color: #fff !important;
  width: 10rem;
  height: 35px;
  box-shadow: 0 0 8px -5px #000;
  /* background: #0655EE!important; */
  background: #008FFB!important;
  border: 1px solid transparent!important;
}

.lineGraphButton:hover{
  background: #4380fa!important;
  box-shadow: 0 0 12px -5px #000;
}

/* .blue {
  border: 3px solid blue !important;
}
.green {
  border: 3px solid rgb(12, 201, 153) !important;
}
.red {
  border: 3px solid red !important;
} */
