:root {
  --bcolor: #049de4;
  --bg: #1e2227;
  --darkJungleGreen: #0d1b1e;
  --charlestonGreen: #17272C;
  --charcoal: #354B54;
  /* --middleRed: #faa795; */
  /* --middleRed: #E40066; */
  --middleRed: #FB4D3D;
  --cultured: #f5f5f5;
  --lightGray: #cfd0d6;
  --lavenderWeb: #dae0f2;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 400; */
}

body,
html {
  height: 100%;
  width: 100%;
  background: var(--cultured);
  scroll-behavior: smooth;
  /* font-weight: 400; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  box-sizing: border-box;
  margin: auto;
  min-height: 100vh;
  /* width: 98vw; */
}

.app__stats {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.map {
  border: 1px solid red;
  height: 360px;
  margin: auto;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map h1 {
  border: 1px solid;
}
.app__stats__content,
.dropdown {
  margin: 5px auto;
  width: 80vw;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}
.app__left {
  margin: 3px auto;
  width: 74%;
  border: 1px solid red;
  border-radius: 5px;
}
.app__right {
  margin: 3px auto;
  width: 25%;
  border: 1px solid red;
  border-radius: 5px;
  /* height: 100%; */
}

.app__left__stats,
.app__left__table,
.app__left__graph {
  margin: 10px auto;
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
}
.app__bottom {
  margin: 0 auto;
}
.multi__lang__dictionary{
  color: var(--lavenderWeb);
  background: linear-gradient(to top,  var(--charlestonGreen), var(--charcoal));
  font-weight: 400;
}
.about,
.footer, .multi__lang__dictionary {
  margin: 0 auto;
  padding: 5vh 10vw;
  background: var(--charcoal);
  color: var(--lavenderWeb);
}
.footer {
  background: var(--darkJungleGreen);
  color: var(--lavenderWeb);
}
/* media queries */
@media screen and (max-width: 1024px) {
  .app__stats__content,
  .dropdown {
    width: 90vw;
  }
}
@media screen and (max-width: 768px) {
  .multi__lang__dictionary, .about {
    /* margin: 0 ; */
  padding: 1.5vw;
  }
  .app__stats__content {
    flex-direction: column;
  }
  .app__left,
  .app__right {
    width: 99%;
  }
  .app__left__stats,
  .app__left__table,
  .app__left__graph {
    width: 99%;
  }
  .app__stats__content,
  .dropdown {
    width: 95vw;
  }
}
