:root {
  --bcolor: #33c5ee;
  --bg: #1e2227;
  --darkJungleGreen: #0d1b1e;
  --charlestonGreen: #17272C;
  --charcoal: #354B54;
  --middleRed: #FB4D3D;
  --cultured: #f5f5f5;
  --lightGray: #cfd0d6;
  --lavenderWeb: #dae0f2;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  background: var(--cultured);
  background: rgba(247, 246, 246, 0.26);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.app {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
}

.app__stats {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.app__stats__content,
.dropdown {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
}
.app__stats__content{
  margin-bottom: 10px;
}
.app__left { 
  width: 70vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chartjs-render-monitor{
  height: 480px !important;
  object-fit: contain !important;
}
.form__dropdown{
  margin: 5px!important;
  width: 35vw;
}
.MuiOutlinedInput-input {
    padding: 12px!important;
    background: #fff !important;
}
.app__right {
  margin: 0 0 0 10px;
  width: 25vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app__left__stats,
.app__left__table,
.app__left__graph {
  margin: 5px auto;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}
.app__bottom {
  margin: 0 auto;
  /* border: 2px solid red; */
}
.multi__lang__dictionary{
  color: var(--lavenderWeb);
  /* background: linear-gradient(to top,  var(--charlestonGreen), var(--charcoal)); */
  font-weight: 400;
}
.about,
.footer,.multi__lang__dictionary {
  padding: 5vh 10vw;
  color: #444;
}
.footer {
  background: var(--darkJungleGreen);
  color: var(--lavenderWeb);
}
/* media queries */
@media screen and (max-width: 1024px) {
  .app__stats__content,
  .dropdown {
    width: 95vw;
  }
}
@media screen and (max-width: 768px) {
  .multi__lang__dictionary, .about {
  padding: 1.5vw;
  }
  .app__stats__content {
    flex-direction: column;
  }
  .app__left,
  .app__right {
    width: 99%;
  }
  .app__left__stats,
  .app__left__table,
  .app__left__graph {
    width: 99%;
  }
  .app__stats__content,
  .dropdown {
    width: 95vw;
  }
  .form__dropdown{
  width: 65vw;
  /* height: 30px; */
}
}
