.links {
  display: flex;
}
.links ul {
  display: flex;
  list-style: none;
}
.links ul li {
  margin: 0 5px;
}
.links ul li:last-child {
  margin-right: 0;
}
.links ul li a {
  text-decoration: none;
  color: #5F6368;
  /* color: var(--bg); */
  font-size: 0.75rem;
  /* font-weight: 400; */
}
.links ul li a::after {
  content: "";
  display: block;
  border-bottom: 1.5px solid var(--bcolor);
  width: 0;
  /* right: 0; */
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.links ul li a:hover {
  color: rgb(68, 174, 235);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.links ul li a:hover::after {
  width: 100%;
}

.list__item {
  padding: 10px !important;
}
.list__item:hover {
  background: var(--bg);
}
.navLink__icon {
  color: #5F6368 !important;
  font-size: 0.9rem !important;
  display: inline !important;
}
