.menu__container{
    background: rgba(0,0,0,.4);
    /* border: 10px solid red; */
    position: fixed;
    /* top-> ??? */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    transition: all ease-in-out 700ms;
}
.menu__wrapper{
    /* width: 50vw; */
    height: 100vh;
    /* border: 2px solid red; */
    background: var(--darkJungleGreen);
    display: flex;
    padding: 60px 10px;
    z-index: 20;
}